{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}

        <div class="container">
        <form action="{% url 'checkout:preview' %}" method="post" class="form form-horizontal" role="form">
        {% csrf_token %}
        {% include "oscar/partials/form_fields.html" with form=form style='horizontal' %}
            <fieldset>
                <legend>Payment</legend>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="card-holder-name" id="card-holder-name"
                               placeholder="Card Holder's Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="card-number">Card Number</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="card-number" id="card-number"
                               placeholder="Debit/Credit Card Number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>

                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-3">
                                <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
                                    <option>Month</option>
                                    <option value="01">Jan (01)</option>
                                    <option value="02">Feb (02)</option>
                                    <option value="03">Mar (03)</option>
                                    <option value="04">Apr (04)</option>
                                    <option value="05">May (05)</option>
                                    <option value="06">June (06)</option>
                                    <option value="07">July (07)</option>
                                    <option value="08">Aug (08)</option>
                                    <option value="09">Sep (09)</option>
                                    <option value="10">Oct (10)</option>
                                    <option value="11">Nov (11)</option>
                                    <option value="12">Dec (12)</option>
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <select class="form-control" name="expiry-year">

                                    <option value="15">2015</option>
                                    <option value="16">2016</option>
                                    <option value="17">2017</option>
                                    <option value="18">2018</option>
                                    <option value="19">2019</option>
                                    <option value="20">2020</option>
                                    <option value="21">2021</option>
                                    <option value="22">2022</option>
                                    <option value="23">2023</option>
                                    <option value="24">2023</option>
                                    <option value="25">2023</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="cvv">Card CVV</label>

                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" class="btn btn-success">Pay Now</button>
                    </div>
                </div>
            </fieldset>
        </form>


        <a id="view_preview" href="{% url 'checkout:preview' %}"
           class="btn btn-primary btn-lg">{% trans "Continue" %}</a>
    {% endblock payment_details_content %}
{% endblock payment_details %}



{#{% block payment_details %}#}
{#    {% block payment_details_content %}#}
{#        <p>{% trans "This page needs implementing within your project.  You may want to use one of Oscar's payment gateway libraries:" %}</p>#}
{#        <ul>#}
{#            <li><a href="https://github.com/django-oscar/django-oscar-paypal">django-oscar-paypal</a></li>#}
{#            <li><a href="https://github.com/django-oscar/django-oscar-datacash">django-oscar-datacash</a></li>#}
{#            <li><a href="https://github.com/django-oscar/django-oscar-gocardless">django-oscar-gocardless</a></li>#}
{#            <li><a href="https://github.com/django-oscar/django-oscar-paymentexpress">django-oscar-paymentexpress</a></li>#}
{#            <li><a href="https://github.com/django-oscar/django-oscar-accounts">django-oscar-accounts</a></li>#}
{#        </ul>#}
{#        <a id="view_preview" href="{% url 'checkout:preview' %}" class="btn btn-primary btn-lg">{% trans "Continue" %}</a>#}
{#    {% endblock payment_details_content %}#}
{#{% endblock payment_details %}#}






    {% block new_address_form %}
        <div class="well">
            <form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address" class="form form-horizontal">
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=form style='horizontal' %}
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
                        {% trans "or" %} <a href="{% url 'basket:summary' %}">{% trans "return to basket" %}</a>

                    </div>
                </div>
            </form>
        </div>
    {% endblock %}
