{% extends 'oscar/checkout/preview.html' %}
{% load currency_filters %}
{% load i18n %}

{% block payment_method %}
    <div class="span6">
    <h3>{% trans "Payment" %}</h3>
    <div class="well well-success" data-behaviours="match-height">

        <h4>Bankcard</h4>
        <p>{% blocktrans with amount=order_total.incl_tax|currency %}
            {{ amount }} will be debited from your bankcard:
        {% endblocktrans %}</p>
        {% with bankcard=bankcard_form.bankcard %}
            <p>
            {% trans "Card type" %}: {{ bankcard.card_type }} <br/>
            {% trans "Card number" %}: {{ bankcard.obfuscated_number }} <br/>
            {% trans "Expiry month" %}: {{ bankcard.expiry_month }}</p>
        {% endwith %}

        <h4>Billing Address</h4>
        {% with billing=billing_address %}
            <p>
            {% trans "Name" %}:
            <br/>{{ billing.first_name }} {{ billing.last_name }}  <br/>
            {% trans "Address" %}:
                <br/> {{ billing.line1 }}
                {% if billing.line2 %} <br/> {{ billing.line2 }} {% endif %}
                {% if billing.line3 %} <br/> {{ billing.line3 }} {% endif %}
                {% if billing.line4 %} <br/> {{ billing.line4 }}, {% endif %}{{ billing.state }}
                <br/> {{ billing.postcode }}
                <br/> {{ billing.country }}
        {% endwith %}

        <div class="alert-actions">
            <a href="{% url 'checkout:payment-details' %}" class="btn">{% trans "Change payment details" %}</a>
        </div>
    </div>
</div>
{% endblock %}

{% block hiddenforms %}
    {{ bankcard_form.as_p }}
{% endblock %}