{% extends "oscar/customer/emails/base.html" %}
{% load currency_filters i18n %}

{% block body %}<p xmlns="http://www.w3.org/1999/html">{% trans 'Hello,' %}</p>

<p>{% blocktrans with quotation_number=quotation.basket_id %}We are pleased to confirm your quote request {{ quotation_number }} has been received and
will be processed shortly.{% endblocktrans %}</p>

<p>{% trans 'Your quote request contains:' %}</p>

<ul>
    {% for line in quotation.basket.lines.all %}
    <li>{{ line.product }} - {%  trans 'quantity:' %} {{ line.quantity }} - {% trans 'price:' %} {{ line.line_price_incl_tax|currency:quotation.basket.currency }}</li>
    {% endfor %}
</ul>
<p>
{#{% trans 'Basket total:' %} {{ quotation.basket.basket_total_excl_tax|currency:quotation.basket.currency }}<br/>#}
{#{% trans 'Shipping:' %} {{ quotation.basket.shipping_excl_tax|currency:quotation.basket.currency }}<br/>#}
{% trans 'Quote Total:' %} {{ quotation.basket.total_incl_tax|currency:quotation.basket.currency }}
</p>

<p>{% trans 'Shipping address:' %}</p>
<p>{% for field in order.shipping_address.active_address_fields %}  {{ field }}<br/>
{% endfor %}</p>

{% if status_url %}
<p>{% blocktrans %}You can view the status of this order by clicking <a href="{{ status_url }}" title="order status">here</a>{% endblocktrans %}</p>
{% endif %}{% endblock %}
