{% extends "layout.html" %}
{% load thumbnail %}
{% load i18n %}
{% load currency_filters %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        <li class="active">{% trans "Basket" %}</li>
    </ul>
{% endblock %}

Hide mini-basket so we don't have two baskets to keep in sync
{% block mini_basket %}{% endblock %}

{% block headertext %}
    {% trans "Quote" %}
{% endblock %}

{% block content %}
{#    Use a partial template so that AJAX can be used to re-render basket#}
    {% block formactions %}


        {% if request.basket.num_lines %}
        {% for line in request.basket.all_lines %}
            <li>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="image_container">
                            {% with image=line.product.primary_image %}
                                {% thumbnail image.original "100x100" upscale=False as thumb %}
                                    <a href="{{ line.product.get_absolute_url }}"><img class="thumbnail"
                                                                                       src="{{ thumb.url }}"
                                                                                       alt="{{ line.product.get_title }}"></a>
                                {% endthumbnail %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <p><strong><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></strong></p>
                    </div>
                    <div class="col-sm-1 align-center"><strong>{% trans "Qty" %}</strong> {{ line.quantity }}</div>
                    <div class="col-sm-3 price_color align-right">{{ line.unit_price_excl_tax|currency:request.basket.currency }}</div>
                </div>
            </li>
        {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-sm-8 col-md-9">
                <form method="post" id="place_order_form" action="{% url 'quotation:request-quote' %}" >
                    {% csrf_token %}
                    <input type="hidden" name="action" value="get_quote" />
                        <p>{{ basket.total_excl_tax }}{{ basket.currency }}<br>
                         ID: {{ basket.pk }}<br>
                         #Items: {{ basket.num_items }}<br>
                            User: {{ user.email }}<br>
                        </p>

{#                    {% include 'oscar/partials/form_fields.html' with style='stacked' %}#}
{#                    <div class="form-group">#}
{#                        <input class="form-control" type="email" id="id_email"#}
{#                               placeholder="Email address to receive quote"/>#}
{#                    </div>#}
                    <div class="form-group">
                        <button id="get-quote" type="submit" class="btn btn-primary btn-lg"
                                data-loading-text="{% trans 'Sending...' %}">{% trans 'Send Quote' %}</button>
                    </div>
                </form>
            </div>
        </div>

    {% endblock formactions %}
{% endblock content %}


{#{% block onbodyload %}#}
{#    {{ block.super }}#}
{#    We pass in the URL to send AJAX requests to#}
{#    var options = {#}
{#    'basketURL': '{% url 'basket:summary' %}'#}
{#    };#}
{#    oscar.basket.init(options);#}
{#{% endblock %}#}
