{% extends 'oscar/basket/partials/basket_content.html' %}
{% load i18n %}


{% block formactions %}
    <div class="form-group clearfix">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8">
                <a href="{% url 'checkout:index' %}" class="btn btn-lg btn-primary btn-block">{% trans "Proceed to checkout" %}</a>
                <a href="{% url 'checkout:request-quote' %}" class="btn btn-lg btn-primary btn-block">{% trans "Request a Quote" %}</a>
            </div>
        </div>
    </div>
{% endblock formactions %}